<% if user_signed_in? %>
<h1>Hello User</h1>
<% else %>
    <div>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "サインアップ", new_user_registration_path %>
    </div>
<% end %>


