<% @likes = Like.where(micropost_id: micropost.id) %>
<% if @likes.present? %>
    <% @likes.first(11).each do |like| %>
        <div class="like-users">
            <%= link_to user_path(like.user.id) do %>
                <% if like.user.profile_image.present? %>
                    <%= image_tag attachment_url(like.user, :profile_image, :fill, 40, 40, format: "jpg"), {class:"liked-user-icon"} %>
                <% else %>
                    <%= image_tag ("default.png"), :size => '40x40', class:"liked-user-icon" %>
                <% end %>
            <% end %>
        </div>
    <%end%>
<% else %>
<% end %>