/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

 /* スマートフォンデザイン */
/*共通*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body {
    color: rgb(1, 1, 1);
    height: 100%;
}

.outer-wrapper{
    background-color: #F5F6F2;
    clear: both;
    min-height: 100%;
    position: relative;
}

.container{
    padding-bottom: 16.5vh;
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

ul li {
    list-style: none;
}

input:focus {
    outline: 0;
}

.col-4,
.col-5,
.col-7,
.col-8{
    margin-top: 20px;
}

/* レビュー感想タイトル */
.review-title{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
}

.common-blank-container{
    background-color: white;
    height: 100%;
    width: 100%;
    border: 1px solid #D4DACB;
    border-radius: 4px;
    font-size: 1.4rem;
    .common-blank{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        span{
            color: #999;
            font-size: 1.4rem;
        }
    }
}

/* TOP 未ログイン時 */
.top-side-container{
    img{
        width: 100vw;
        height: auto;
    }
}
.menu-right-container{
    width: 100vw;
    text-align: center;
    .menu-right-login{
        overflow: auto;
        margin-top: 3vh;
        .menu-right-email-field{
            float: left;
            .field{
                height: 25px;
                width: 35vw;
                margin-right: 10vw;
                margin-left: 10vw;
            }
        }
        .menu-right-password-field{
            float: left;
            .field{
                height: 25px;
                width: 35vw;
                margin-right: 10vw;
            }
        }
        .menu-right-actions{
            input{
                height: 25px;
                margin-top: 2vh;
            }
        }
    }
    .menu-right-explain{
        margin-top: 5vh;
        span{
            font-weight: bold;
            font-size: 170%;
        }
    }
    .menu-right-start{
        margin-top: 40px;
        span{
            font-weight: bold;
            font-size: 150%;
        }
    }
    .menu-right-btn{
        margin-top: 20px;
    }
}
.btn-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(228,226,223);
    color: #fff;
    border-radius: 30px;
    width: 300px;
    text-align: center;
}
.btn-item:hover {
    transition: all .2s linear;
    background: rgb(249,194,112);
    text-decoration: none;
}

/*リセット*/
ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

dl{
    margin-bottom: 0;
}



/* モーダルボディ*/
.modal-body{
    textarea{
        width: 100%;
        height: 10vh;
    }
}

h2{
    margin-bottom: 0;
}

/* SP用(プロフィール) */
.col-10{
    padding-right: 0;
    height: 100vh;
}
.col-2{
    padding: 0;
    height: 100vh;
}

#target{
    width: 100vw;
    height: 35vh;
}

/* SP(ヘッダー) */
.header-container{
    display: none;
}

.sp-header-container{
    width: 100vw;
    height: 6vh;
    background-color: #56970A;
    .sp-header-global{
        width: 100%;
        height: 100%;
        padding-left: 2vw;
        .sp-header-logo{
            height: 100%;
            line-height: 6vh;
            display: inline-block;
            color: white;
            font-size: 2rem;
            font-weight: bold;
        }
        .sp-header-side{
            float: right;
            height: 100%;
            line-height: 6vh;
            .sp-header-side-list{
                display: flex;
                height: 100%;
                color: white;
                text-align: center;
                i{
                    font-size: 2.5rem;
                    line-height: 6vh;
                }
                .sp-header-side-item{
                    width: 13vw;
                    border-left: 1px solid white;
                    text-align: center;
                    overflow: hidden;
                    text-indent: 100%;
                    white-space: nowrap;
                }
            }
        }
    }
}

#search-slide{
    width: 100vw;
    height: 22vh;
    background-color: white;
    position: fixed;
    top: -22vh;
    z-index: 100;
    .main-search{
        margin-top: 5vh;
        height: 4vh;
        form{
            text-align: center;
            height: 4vh;
            
        }
        .search-fill{
            display: inline-block;
            width: 80vw;
            padding-bottom: 2vh;
            .sp-search-form{
                width: 80vw;
                height: 4vh;
                margin-right: 0;
            }
        }
        .search-btn{
            .btn{
                height: 4vh;
                width: 20vw;
            }
        }
    }
}

#menu-slide{
    width: 50vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -50vw;
    z-index: 100;
    .main-menu{
        .menu-list{
            border-top: 1px solid black;
            font-size: 1.3rem;
            .menu-item{
                padding: 4vw;
            }
        }
        .top-item{
            border-top: none;
        }
    }
}

#remove{
    background-color: #606060;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* SP(サイドカラム) */
.col-4{
    display: none;
}
/* SP(プロフィール) */
/*side column*/
.side-column-wrapper{
    width: 100%;
    background-color: white;
}
.userdata-container{
    padding: 4vw 5vw;
    width: 100vw;
    a{
        text-decoration: none;
    }
    .name-avatar-container{
        .userdata-name-pc{
            display: none;
        }
        .userdata-name{
            span{
                font-size:2rem;
                font-weight: bold;
            }
        }
        .userdata-avatar{
            img{
                width: 100px;
            }
        }
    }
    .userdata-instroduction{
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 2vh;
        margin-top: 1vh;
    }
    .followers-following-container{
        display: flex;
    }
    .userdata-followers{
        font-size: 1.4rem;
        display: block;
        margin-right: 5vw;
        .number{
            font-weight: bold;
            margin-right: 2vw;
        }
    }
    .userdata-followers,
    .userdata-followers::before,
    .userdata-followers::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-followers:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
    .userdata-following{
        font-size: 1.4rem;
        display: block;
        .number{
            font-weight: bold;
            margin-right: 2vw;
        }
    }
    .userdata-following,
    .userdata-following::before,
    .userdata-following::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-following:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
}
#sp-profile{
    display: inline-block;
    font-size: 1.4rem;
    background-color: #f8f8f8;
    border: 1px solid #D4DACB;
    border-radius: 4px;
    height: 4vh;
    line-height: 4vh;
    width: 35vw;
    text-align: center;
    margin-top: 4vw;
}
#profile-slide{
    width: 70vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: -70vw;
    z-index: 100;
}

/* SP(各ポスト)*/
.post-record-container{
    background-color: white;
    width: 100vw;
    padding: 0 5vw;
    padding-bottom: 4vw;
    line-height: 4vh;
    .post-button{
        width: 35vw;
        height: 4vh;
        margin-right: 3vw;
        font-size: 1.4rem;
    }
}


/* SP(メインカラム) */
/* タブ */
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.tab-label {
    color: White;
    background: LightGray;
    order: -1;
    margin-bottom: 0;
    width: 33.3%;
    text-align: center;
    height: 5vh;
    font-size: 1.7rem;
    line-height: 5vh;
}
.tab-content {
    width: 100%;
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
    display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}
/* col-12 */
.col-12{
    padding: 0;
}
/* 投稿 */
.post-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
}

.post-container{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    .post-side-frame{
        margin-right: 13px;
    }
    .post-main-frame{
        width: 100%;
        padding-right: 15px;
        font-size: 18px;
        .post-name a{
            font-weight: bold;
            font-size: 1.7rem;
        }
        .post-body{
            font-size: 1.5rem;
        }
        .frame-details{
            display: flex;
            margin-top: 10px;
            align-items: center;
            .post-date{
                margin-left: 15px;
                font-size: 1.3rem;
            }
            .post-timestamp{
                margin-left: 15px;
                font-size: 1.3rem;
            }
        }
        .like-container{
            margin-top: 10px;
            margin-bottom: 15px;
            display: flex;
        }        
        /* モーダル削除 */
        button:focus {
            outline: none;
        }
        .delete-button{
            float: right;
            background-color: transparent;
            border: none;
            padding-bottom: 2px;
            .dli-close {
                display: inline-block;
                vertical-align: middle;
                color: #D4DACB;
                line-height: 1;
                width: 1em;
                height: 0.1em;
                background: currentColor;
                border-radius: 0.1em;
                position: relative;
                transform: rotate(45deg);
            }
            .dli-close:hover{
                color: black;
            }
            .dli-close::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: inherit;
                border-radius: inherit;
                transform: rotate(90deg);
            }
        }
        /* SP(コメント) */
        .comment-container{
            display: flex;
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #e8e8e8;
            margin-bottom: 7px;
            width: 75vw;
            .comment-side-frame{
                margin-right: 13px;
            }
            .comment-main-frame{
                width: 100%;
                padding-right: 5px;
                font-size: 18px;
                .comment-name a{
                    font-weight: bold;
                    font-size: 1.7rem;
                }
                .comment-body{
                    margin-top: 4px;
                    font-size: 1.5rem;
                }
                .comment-date{
                    font-size: 1.3rem;
                }
            }
        }
        .comment-moreview{
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
    }
}

/* SP(投稿-練習記録 & レビュー) */
.song-details{
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    width: 75vw;
    padding: 10px;
    margin-top: 10px;
    .song-side-frame{
        img{
            width: 25vw;
            height: 25vw;
        }
    }
    .song-main-frame{
        margin-left: 5px;
        .song-title a{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .song-practice{
            margin-top: 15px;
            font-size: 1.3rem;
            .song-practice-time{
                font-weight: bold;
            }
        }
    }
}
/* SP(もっと見る) */
.more-container{
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    a{
        display: inline-block;
        width: 80vw;
        height: 5vh;
        line-height: 5vh;
        background-color: #fff;
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }
}



/* SP(検索結果) */
/* 練習登録 */
.practice-regi-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
    .practice-regi-container{
        text-align: center;
        padding: 5px;
        .practice-regi-blank{
            margin: 15px;
            span{
                color: #999;
                font-size: 1.4rem;
            }
        }
        .practice-list{
            list-style: none;
            display: flex;
            width: 100%;
            .practice-list-song{
                width: 25%;
                .practice-regi-container-2{
                    padding:3px;
                    .practice-regi-up-frame{
                        .practice-regi-image{
                            img{
                                width: 22vw;
                                height: 22vw;
                            }
                        }
                    }
                    .practice-regi-down-frame{
                        text-align: left;
                        margin-top: 3px;
                        span {
                            font-size: 1rem;
                            display: block;
                        }
                        .practice-regi-title{
                            height: 33px;
                            margin-bottom: 10px;
                            overflow: hidden;
                        }
                        .practice-regi-artist{
                            margin-bottom: 5px;
                        }
                        .practice-regi{
                            span{
                                font-size:1rem;
                            }
                        }
                    } 
                }
            }
        }
        .practice-regi-count{
            border-top: 1px solid #efefef;
            padding-top: 7px;
            margin-top: 15px;
            span{
                color: #999;
                font-size: 1rem;
            }
        }     
    }
}

/* SP(編集) */
.edit-container{
    border: 1px solid #D4DACB;
    background-color: #fff;
    .edit-form{
        width: 100vw;
        margin: 0 auto;
        padding: 20px 0 15px 0;
        text-align: left;
        .form-field{
            border-bottom: 1px solid #f0f0f0;
            padding: 10px 0 10px;
            overflow: auto;
            .field-capition{
                width: 25vw;
                float: left;
                text-align: right;
                margin-right: 15px;
            }
            .field-input{
                float: left;
                width: 66vw;
                text-align: left;
                position: relative;
                .input-item{
                    width: 48vw;
                    .introduction-area{
                        resize: none;
                        width: 66vw;
                        height: 250px;
                    }
                    .edit-date-select{
                        width: 32.2%;
                        display: inline-block;
                        padding: 0;
                    }
                }
                .inpu-item-privacy{
                    width: 15vw;
                    position: absolute;
                    right: 0;
                    top: 0;
                    .form-control{
                        padding:0;
                    }
                }
            }
        }
        .form-action{
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }
    }
}



/* SP(フッター) */
.footer-container{
    margin-top: 20px;
    background-color: #fff;
    height: 14vh;
    position: absolute;
    bottom: 0;
    .footer-contents{
        
        width: 100%;
        border-top: 1px solid #D4DACB;
        
        .footer-nav{
            margin: 0 auto;
            padding: 25px 0 50px 0;
            text-align: left;
            width: 100vw;
            .footer-nav-title{
                clear: both;
                float: left;
                width: 25%;
                margin-bottom: 12px;
                color: #aaa;
                font-size: 1.2rem;
                line-height: 1;
                padding-left: 15px;
            }
            .footer-nav-list{
                float: right;
                width: 59%;
                margin-bottom: 12px;
                .footer-nav-item{
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    a{
                        display: inline-block;
                        vertical-align: top;
                        font-size: 1.2rem;
                        line-height: 1;
                        cursor: pointer;
                        color: #219315
                    }
                }
            }
        }
    }
}











/* タブレットデザイン */
@media screen and (min-width: 600px) {

}

/* PCデザイン */
@media screen and (min-width: 1025px) {
    /* 共通 */
    .col-12,
    .col-lg-4,
    .col-lg-8{
        margin-top: 20px;
    }
    #search-slide,
    #menu-slide{
        display: none;
    }
    .text-count,
    .js-text-count{
        font-size: 1.7rem;
    }
    .form-control{
        font-size: 1.7rem;
    }
    .btn{
        font-size: 1.7rem;
    }
    #target{
        width: 100%;
        height: 350px;
    }

    /*ヘッダー*/
    .sp-header-container{
        display: none;
    }
    .header-container{
        display: block;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #D4DACB;
        .header-global{
            width: 100%;
            background-color: #56970A;
            .global-inner{
                width: 1140px;
                height: 36px;
                margin: 0 auto;
                padding-left: 15px;
                padding-right: 15px;
                .personal-account{
                    float: right;
                    text-align: left;
                    display: flex;
                    a{
                        text-decoration: none;
                    }
                    .personal-account-data{
                        margin-right: 5px;
                        height: 36px;
                        line-height: 36px;
                        display: flex;
                        padding-left: 5px;
                        padding-right: 5px;
                        .personal-account-image{
                            padding-right: 7px;
                            line-height: 3.6rem;
                        }
                        .personal-account-name{
                            color: white;
                            font-size: 1.3rem;
                        }
                        
                    }
                    .personal-account-data:hover{
                        background-color: #556b2f;
                    }
                    .personal-account-menu{
                        height: 36px;
                        margin: 0 auto;
                        text-align: right;
                        line-height: 36px;
                        overflow: hidden;
                        position: relative;
                        font-size: 1.3rem;
                        a{
                            border: 1px solid white;
                            border-radius: 2px;
                            padding: 4px;
                            color: white;
                        }
                        .peronal-account-menu-drop-items{
                            text-align: left;
                            background-color: white;
                            padding: 5px;
                            border: 1px solid #D4DACB;
                            width: 150px;
                            position: absolute;
                            left: -145%;
                            a{
                                color: black;
                            }
                        }
                    }
                    .personal-account-menu:hover{
                        overflow:visible;
                        color: black;
                    }
                }
            }
        }
        .header-main{
            width: 1140px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            height: 60px;
            .main-logo{
                float: left;
                font-size: 3.2rem;
                font-weight: bold;
                letter-spacing: 3px;
                width: 261px;
                margin-top: 5px;
            }
            .main-search{
                float: left;
                display: block;
                margin-top: 12px;
                margin-left: 20px;
                
                form{
                    height: 38px;
                    .search-fill{
                        float: left;
                        input[type="text"]{

                        }
                    }
                    .search-btn{
                        float: left;
                        input[type="text"]{
                            
                        }
                    }
                }
            }
        }
    }
    /* モーダル投稿 */
    .modal-button{
        display: block;
        margin-top: 15px;
        width: 100%;
    }

    .time-select{
        width: 30%;
        display: inline-block;
        margin-top: 10px;
    }

    .modal-text-area{
        resize: none;
        width: 100%;
        height: 250px;
        padding: 5px;
    }

    /* モーダル削除 */
    button:focus {
        outline: none;
    }
    .delete-button{
        float: right;
        background-color: transparent;
        border: none;
        padding-bottom: 2px;
        .dli-close {
            display: inline-block;
            vertical-align: middle;
            color: #D4DACB;
            line-height: 1;
            width: 1em;
            height: 0.1em;
            background: currentColor;
            border-radius: 0.1em;
            position: relative;
            transform: rotate(45deg);
        }
        .dli-close:hover{
            color: black;
        }
        .dli-close::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            border-radius: inherit;
            transform: rotate(90deg);
        }
    }
    .col-lg-4,
    .col-lg-8{
        padding-right: 15px;
        padding-left: 15px;
    }

    /* タブ */
    .tab-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .tab-label {
        color: White;
        background: LightGray;
        order: -1;
        margin-bottom: 0;
        width: 33.3%;
        text-align: center;
        height: 3.5rem;
        font-size: 1.6rem;
        line-height: 3.5rem;
    }
    .tab-content {
        width: 100%;
        display: none;
    }

    /* 投稿 */
    .post-wrapper{
        background-color: white;
        border-radius: 4px;
        border: 1px solid #D4DACB;
    }

    .post-container{
        background-color: white;
        padding: 15px;
        border-bottom: 1px solid #dcdcdc;
        display: flex;
        .post-side-frame{
            margin-right: 13px;
        }
        .post-main-frame{
            width: 100%;
            padding-right: 15px;
            .post-name a{
                font-weight: bold;
                font-size: 1.7rem;
            }
            .post-body{
                font-size: 2rem;
            }
            .frame-details{
                display: flex;
                margin-top: 10px;
                align-items: center;
                .post-date{
                    margin-left: 15px;
                    font-size: 1.7rem;
                }
                .post-timestamp{
                    margin-left: 15px;
                    font-size: 1.7rem;
                }
            }
            .like-container{
                margin-top: 10px;
                margin-bottom: 15px;
                display: flex;
            }        
            /* モーダル削除 */
            button:focus {
                outline: none;
            }
            .delete-button{
                float: right;
                background-color: transparent;
                border: none;
                padding-bottom: 2px;
                .dli-close {
                    display: inline-block;
                    vertical-align: middle;
                    color: #D4DACB;
                    line-height: 1;
                    width: 1em;
                    height: 0.1em;
                    background: currentColor;
                    border-radius: 0.1em;
                    position: relative;
                    transform: rotate(45deg);
                }
                .dli-close:hover{
                    color: black;
                }
                .dli-close::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: inherit;
                    border-radius: inherit;
                    transform: rotate(90deg);
                }
            }
            /* SP(コメント) */
            .comment-container{
                display: flex;
                background-color: #f8f8f8;
                padding: 10px;
                border-radius: 4px;
                border: 1px solid #e8e8e8;
                margin-bottom: 7px;
                width: 100%;
                .comment-side-frame{
                    margin-right: 13px;
                }
                .comment-main-frame{
                    width: 100%;
                    padding-right: 5px;
                    font-size: 18px;
                    .comment-name a{
                        font-weight: bold;
                        font-size: 1.7rem;
                    }
                    .comment-body{
                        margin-top: 4px;
                        font-size: 2rem;
                    }
                    .comment-date{
                        font-size: 1.7rem;
                    }
                }
            }
            .comment-moreview{
                font-size: 1.7rem;
                margin-bottom: 5px;
            }
        }
    }
    
    /* 投稿-練習記録 & レビュー */
    .song-details{
        display: flex;
        background-color: #f8f8f8;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        .song-side-frame{
            img{
                width: 150px;
                height: 150px;
            }
        }
        .song-main-frame{
            margin-left: 5px;
            .song-title a{
                font-weight: bold;
                font-size: 1.7rem;
            }
            .song-practice{
                margin-top: 15px;
                font-size: 1.7rem;
                .song-practice-time{
                    font-weight: bold;
                }
            }
        }
    }
    /* SP(もっと見る) */
    .more-container{
        text-align: center;
        vertical-align: middle;
        margin-top: 20px;
        a{
            display: inline-block;
            width: 100%;
            height: 5vh;
            line-height: 5vh;
            background-color: #fff;
            border-radius: 20px;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    /* フッター */
    .footer-container{
        margin-top: 20px;
        width: 100%;
        background-color: #F5F6F2;
        .footer-contents{
            min-height: 10rem;
            width: 100%;
            border-top: 1px solid #D4DACB;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            .footer-nav{
                margin: 0 auto;
                padding: 28px 0 50px 0;
                text-align: left;
                width: 1140px;
                .footer-nav-title{
                    clear: both;
                    float: left;
                    width: 18rem;
                    margin-bottom: 12px;
                    color: #aaa;
                    font-size: 1.3rem;
                    line-height: 1;
                }
                .footer-nav-list{
                    float: right;
                    width: 85rem;
                    margin-bottom: 12px;
                    .footer-nav-item{
                        float: left;
                        margin-right: 20px;
                        margin-bottom: 5px;
                        a{
                            display: inline-block;
                            vertical-align: top;
                            font-size: 1.3rem;
                            line-height: 1;
                            cursor: pointer;
                            color: #219315
                        }
                    }
                }
            }
        }
    }

    /* 自分の投稿 */
    .post-record-container{
        display: block;
        width: 100%;
        padding: 0;
        background-color: #F5F6F2;
        .post-button{
            width: 100%;
        }
    }
    .post-wrapper{
        background-color: white;
        border-radius: 4px;
        border: 1px solid #D4DACB;
    }

    .post-container{
        background-color: white;
        padding: 15px;
        border-bottom: 1px solid #dcdcdc;
        display: flex;
    }

    .post-side-frame{
        margin-right: 13px;
    }

    .post-main-frame{
        width: 100%;
        padding-right: 15px;
        font-size: 18px;
    }

    .post-name a{
        font-weight: bold;
    }

    .post-body{
        margin-top: 4px;
    }

    .frame-details{
        display: flex;
        margin-top: 5px;
    }

    .post-date{
        margin-left: 15px;
    }

    .post-timestamp{
        margin-left: 15px;
    }

    .like-container{
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
    }
    /* 検索結果 */
    .practice-regi-wrapper{
        background-color: white;
        border-radius: 4px;
        border: 1px solid #D4DACB;
        .practice-regi-container{
            text-align: center;
            padding: 10px;
            .practice-regi-blank{
                margin: 15px;
                span{
                    color: #999;
                    font-size: 1.4rem;
                }
            }
            .practice-list{
                list-style: none;
                display: flex;
                width: 100%;
                .practice-list-song{
                    width: 25%;
                    .practice-regi-container-2{
                        padding: 10px;
                        .practice-regi-up-frame{
                            .practice-regi-image{
                                img{
                                    width: 95%;
                                    height: 95%;
                                }
                            }
                        }
                        .practice-regi-down-frame{
                            text-align: left;
                            margin-top: 3px;
                            span {
                                font-size: 1.3rem;
                                display: block;
                            }
                            .practice-regi-title{
                                height: 33px;
                                margin-bottom: 10px;
                                overflow: hidden;
                            }
                            .practice-regi-artist{
                                margin-bottom: 5px;
                            }
                            .practice-regi{
                                span{
                                    font-size:1rem;
                                }
                            }
                        } 
                    }
                }
            }
            .practice-regi-count{
                border-top: 1px solid #efefef;
                padding-top: 7px;
                margin-top: 15px;
                span{
                    color: #999;
                    font-size: 1.4rem;
                }
            }     
        }
    }
    /* 編集 */
    .edit-container{
        border: 1px solid #D4DACB;
        background-color: #fff;
        .edit-form{
            width: 900px;
            margin: 0 auto;
            padding: 20px 0 15px 0;
            text-align: left;
            font-size: 1.5rem;
            .form-field{
                border-bottom: 1px solid #f0f0f0;
                padding: 10px 0 10px;
                overflow: auto;
                .field-capition{
                    width: 180px;
                    float: left;
                    text-align: right;
                    margin-right: 15px;
                    line-height: 3rem;
                }
                .field-input{
                    float: left;
                    width: 680px;
                    text-align: left;
                    position: relative;
                    .input-item{
                        width: 530px;
                        label{
                            line-height: 3rem;
                        }
                        .introduction-area{
                            resize: none;
                            height: 25rem;
                            width: 100%;
                        }
                        .edit-date-select{
                            width: 20%;
                            display: inline-block;
                        }
                    }
                    .inpu-item-privacy{
                        width: 140px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
            .form-action{
                width: 100%;
                text-align: center;
                padding-top: 15px;
            }
        }
    }
    /*ユーザーデータ*/
    #profile-slide{
        width: 100%;
        height: 100%;
        background-color: white;
        position: static;
    }
    .userdata-container{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
        .name-avatar-container{
            .userdata-name-pc{
                display: block;
                font-size: 3rem;
                padding: 1.5rem 0;
            }
            .userdata-name{
                display: none;
            }
            .userdata-avatar{
                img{
                    width: 10rem;
                }
            }
        }
        .userdata-instroduction{
            display: none;
        }
        .followers-following-container{
            display: block;
        }
        #sp-profile{
            display: none;
        }
        a{
            text-decoration: none;
        }
        
        .userdata-followers{
            width: 80%;
            margin: 10px auto;
            padding: 10px 0px 10px;
            background-color: #f8f8f8;
            border: 1px solid #D4DACB;
            border-radius: 4px;
            span{
                color: #606060;
            }
        }
        .userdata-followers,
        .userdata-followers::before,
        .userdata-followers::after{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        .userdata-followers:hover{
            background-color: #87cefa;
            span{
                color: white;
            }
        }
        .userdata-following{
            width: 80%;
            margin: 10px auto;
            padding: 10px 0px 10px;
            background-color: #f8f8f8;
            border: 1px solid #D4DACB;
            border-radius: 4px;
            span{
                color: #606060;
            }
        }
        .userdata-following,
        .userdata-following::before,
        .userdata-following::after{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        .userdata-following:hover{
            background-color: #87cefa;
            span{
                color: white;
            }
        }
    }
    /*side column*/
    .side-column-wrapper{
        width: 100%;
        font-size: 1.6rem;
        background-color: white;
        border: 1px solid #D4DACB;
        border-radius: 4px;
    }

    /* TOP 未ログイン時 */
    .top-side-container{
        img{
            width: 100%;
            height: auto;
        }
    }
    .menu-right-container{
        width: 100%;
        padding-left: 50px;
        text-align: left;
        .menu-right-login{
            overflow: auto;
            .menu-right-email-field{
                float: left;
                .field{
                    width: 150px;
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
            .menu-right-password-field{
                float: left;
                .field{
                    width: 150px;
                    margin-right: 20px;
                }
            }
            .menu-right-actions{
                input{
                    margin-top: 0;
                }
            }
        }
        .menu-right-explain{
            width: 100%;
            margin-top: 150px;
            span{
                font-weight: bold;
                font-size: 170%;
            }
        }
        .menu-right-start{
            margin-top: 40px;
            span{
                font-weight: bold;
                font-size: 150%;
            }
        }
        .menu-right-btn{
            margin-top: 20px;
        }
    }
    .btn-item {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background: rgb(228,226,223);
        color: #fff;
        border-radius: 30px;
        width: 300px;
        text-align: center;
    }
    .btn-item:hover {
        transition: all .2s linear;
        background: rgb(249,194,112);
        text-decoration: none;
    }
}









.common-main-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
    .common-main-container{
        text-align: center;
        padding: 10px;
        .common-main-side-frame{
            margin-right: 13px;
        }
        .common-main-main-frame{
            width: 100%;
            padding-right: 15px;
            font-size: 18px;
        }
        .common-main-frame-details{
            display: flex;
            margin-top: 5px;
        }
        
    }
}

/* 共通 */
.common-main-blank{
    margin: 15px;
    text-align: center;
    padding: 10px;
    span{
        color: #999;
        font-size: 1.4rem;
    }
}

.common-main-title{
    background-color: #fff;;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #666666;
    h2{
        font-size: 18px;
    }
}

.common-main-count{
    border-top: 1px solid #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    span{
        color: #999;
        font-size: 1rem;
    }
}

.common-side-title{
    background-color: #f8f8f8;
    text-align: left;
    padding: 10px;
    h2{
        font-size: 100%;
    }
}







/* フォーム */
.form-container{
    text-align: center;
    height: 81vh;
    .form-title{
        h2{
            font-weight: bold;
            font-size: 200%;
        }
    }
    .form-subtitle{
        margin-top: 20px;
    }
    .email-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .username-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .password-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .remember-field{
        margin-top: 20px;
    }
    .field-action{
        margin-top: 20px;
        .action{
            width: 150px;
        }
    }
    .link-container{
        margin-top: 20px;
    }
}





/* フォロー */
.follow-list{
    display: flex;
    width: 100%;
}

.follow-list-item{
    width: 100%;
}

.follow-side-frame{
    float: left;
}

/*練習データ*/
.practice-container{
    .practice-nav{
        list-style: none;
        li{
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
        }
        .practice-nav-count{
            float: right;
        }
    }
}

/*プロフィール*/
.profile-container{
    dt{
        padding: 10px;
        border-bottom: 1px solid #f0f0f0;
        .profile-side-title{
            color: gray;
        }
        .profile-item{
            float: right;
        }
        .profile-introduction{
            display: block;
            font-weight: lighter;
            font-size: 90%;
            margin-top: 10px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}



/* post-show */
.like-list-container{
    width: 100%;
    .like-list{
        display: flex;
        margin-bottom: 10px;
        .like-item{
            margin-right: 15px;
        }
    }
}



.like-users{
    margin-right: 15px;
}





/*楽曲ページ*/
.musicdata-container{
    background-color: white;
    text-align: center;
    padding: 20px 0 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.registration-container{
    background-color: white;
}

.registration-title{
    background-color: #f8f8f8;
    text-align: center;
}

.registration-nav{
    list-style: none;
}

.registration-nav li{
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

/* js(コメントフォーム) */

.js-text-count{
    float: right;
}
.text-count{
    float: right;
    color: #999;
}

.js-submit{
    display: none;
}

.js-text-field{
    resize: none;
}