/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*リセット*/
ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

dl{
    margin-bottom: 0;
}

h2{
    margin-bottom: 0;
}

/*共通*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: rgb(1, 1, 1);
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

input:focus {
    outline: 0;
}

.common-main-title{
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #666666;
    h2{
        font-size: 18px;
    }
}

/* 練習登録 */
.practice-regi-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
    .practice-regi-container{
        text-align: center;
        padding: 10px;
        .practice-regi-blank{
            margin: 15px;
            span{
                color: #999;
                font-size: 80%;
            }
        }
        .practice-list{
            list-style: none;
            display: flex;
            width: 100%;
            .practice-list-song{
                width: 25%;
            }
        }
        .practice-regi-down-frame{
            text-align: left;
            margin-top: 3px;
            span {
                font-size: 75%;
                display: block;
            }
            .practice-regi-title{
                height: 33px;
                margin-bottom: 10px;
                overflow: hidden;
            }
            .practice-regi-artist{
                margin-bottom: 5px;
            }
        }  
        .practice-regi-count{
            border-top: 1px solid #efefef;
            padding-top: 7px;
            margin-top: 15px;
            span{
                color: #999;
                font-size: 80%;
            }
        }     
    }
}

/*Navbar*/
.navbar{
    background: #dbfffe;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 3px;
}

.navitems{
    display: flex;
    width: 500px;
    max-width: 40%;
    justify-content: space-around;
    list-style: none;
}

.navitem{
    font-size: 19px;
    font-weight: bold;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.outer-wrapper{
    background-color: #F5F6F2;
}

/*side column*/
.side-column-wrapper{
    width: 100%;
    background-color: white;
    border: 1px solid #D4DACB;
    border-radius: 4px;
}

.side-wrapper{
    margin-top: 20px;
}

/*ユーザーデータ*/
.userdata-container{
    text-align: center;
    padding: 0 0 10px 0;
    a{
        text-decoration: none;
    }
    .userdata-name{
        font-size:30px;
        padding: 15px 0;
    }
    .userdata-followers{
        width: 80%;
        margin: 10px auto;
        padding: 10px 0px 10px;
        background-color: #f8f8f8;
        border: 1px solid #D4DACB;
        border-radius: 4px;
        span{
            color: #606060;
        }
    }
    .userdata-followers,
    .userdata-followers::before,
    .userdata-followers::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-followers:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
    .userdata-following{
        width: 80%;
        margin: 10px auto;
        padding: 10px 0px 10px;
        background-color: #f8f8f8;
        border: 1px solid #D4DACB;
        border-radius: 4px;
        span{
            color: #606060;
        }
    }
    .userdata-following,
    .userdata-following::before,
    .userdata-following::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-following:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
}

/*練習データ*/
.practice-container{
    .practice-title{
        background-color: #f8f8f8;
        text-align: left;
        padding: 10px;
        h2{
            font-size: 100%;
        }
    }
    .practice-nav{
        list-style: none;
        li{
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
        }
        .practice-nav-count{
            float: right;
        }
    }
}

/*プロフィール*/
.profile-container{

    .profile-title{
        background-color: #f8f8f8;
        text-align: left;
        padding: 10px;
        h2{
            font-size: 100%;
        }
    }
    dt{
        padding: 10px;
        border-bottom: 1px solid #f0f0f0;
        .profile-side-title{
            color: gray;
        }
        .profile-item{
            float: right;
        }
    }
}

/* 自分の投稿 */
.post-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
}

.post-container{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
}

.post-side-frame{
    margin-right: 13px;
}

.post-main-frame{
    width: 100%;
    padding-right: 15px;
    font-size: 18px;
}

.post-name a{
    font-weight: bold;
}

.post-body{
    margin-top: 4px;
}

.frame-details{
    display: flex;
    margin-top: 5px;
}

.post-date{
    margin-left: 15px;
}

.post-timestamp{
    margin-left: 15px;
}

.like-container{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.like-users{
    margin-right: 15px;
}

.comment-container{
    display: flex;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    margin-bottom: 7px;
}

.comment-side-frame{
    margin-right: 13px;
}

.comment-main-frame{
    width: 100%;
    padding-right: 15px;
    font-size: 18px;
}

.comment-name a{
    font-weight: bold;
}

.comment-body{
    margin-top: 4px;
}

/*練習記録*/
.song-details{
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.song-main-frame{
    margin-left: 15px;
}

.song-title a{
    font-weight: bold;
}

.song-practice{
    margin-top: 15px;
}

.song-practice-time{
    font-weight: bold;
}

/*楽曲ページ*/
.musicdata-container{
    background-color: white;
    text-align: center;
    padding: 20px 0 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.registration-container{
    background-color: white;
}

.registration-title{
    background-color: #f8f8f8;
    text-align: center;
}

.registration-nav{
    list-style: none;
}

.registration-nav li{
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}