/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*リセット*/
ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

dl{
    margin-bottom: 0;
}

h2{
    margin-bottom: 0;
}

/*共通*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: rgb(1, 1, 1);
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

ul li {
    list-style: none;
}

.col-4,
.col-5,
.col-7,
.col-8,
.col-12{
    margin-top: 20px;
}

.outer-wrapper{
    background-color: #F5F6F2;
}

input:focus {
    outline: 0;
}

.common-main-title{
    background-color: white;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #666666;
    h2{
        font-size: 18px;
    }
}

.common-side-title{
    background-color: #f8f8f8;
    text-align: left;
    padding: 10px;
    h2{
        font-size: 100%;
    }
}

.common-main-blank{
    margin: 15px;
    text-align: center;
    padding: 10px;
    span{
        color: #999;
        font-size: 80%;
    }
}

.common-main-count{
    border-top: 1px solid #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    span{
        color: #999;
        font-size: 80%;
    }
}

/* フォーム */
.form-container{
    text-align: center;
    height: 81vh;
    .form-title{
        h2{
            font-weight: bold;
            font-size: 200%;
        }
    }
    .form-subtitle{
        margin-top: 20px;
    }
    .email-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .username-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .password-field{
        .field{
            margin-top: 20px;
            width: 300px;
        }
    }
    .remember-field{
        margin-top: 20px;
    }
    .field-action{
        margin-top: 20px;
        .action{
            width: 150px;
        }
    }
    .link-container{
        margin-top: 20px;
    }
}

/* TOP 未ログイン時 */
.menu-right-container{
    .menu-right-login{
        overflow: auto;
        .menu-right-email-field{
            float: left;
            .field{
                width: 150px;
                margin-right: 20px;
            }
        }
        .menu-right-password-field{
            float: left;
            .field{
                width: 150px;
                margin-right: 20px;
            }
        }
    }
    .menu-right-explain{
        margin-top: 150px;
        span{
            font-weight: bold;
            font-size: 170%;
        }
    }
    .menu-right-start{
        margin-top: 40px;
        span{
            font-weight: bold;
            font-size: 150%;
        }
    }
    .menu-right-btn{
        margin-top: 20px;
    }
}
.btn-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(228,226,223);
    color: #fff;
    border-radius: 30px;
    width: 300px;
    text-align: center;
}
.btn-item:hover {
    transition: all .2s linear;
    background: rgb(249,194,112);
    text-decoration: none;
}

/* 編集 */
.edit-container{
    border: 1px solid #D4DACB;
    background-color: #fff;
    .edit-form{
        width: 900px;
        margin: 0 auto;
        padding: 20px 0 15px 0;
        text-align: left;
        .form-field{
            border-bottom: 1px solid #f0f0f0;
            padding: 10px 0 10px;
            overflow: auto;
            .field-capition{
                width: 180px;
                float: left;
                text-align: right;
                margin-right: 15px;
            }
            .field-input{
                float: left;
                width: 670px;
                text-align: left;
                position: relative;
                .input-item{
                    width: 530px;
                }
                .inpu-item-privacy{
                    width: 120px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        .form-action{
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }
    }
}

/* フッター */
.footer-container{
    margin-top: 20px;
    .footer-contents{
        min-height: 100px;
        width: 100%;
        border-top: 1px solid #D4DACB;
        background-color: #fff;
        .footer-nav{
            margin: 0 auto;
            padding: 25px 0 50px 0;
            text-align: left;
            width: 1140px;
            .footer-nav-title{
                clear: both;
                float: left;
                width: 150px;
                margin-bottom: 12px;
                color: #aaa;
                font-size: 12px;
                line-height: 1;
            }
            .footer-nav-list{
                float: right;
                width: 850px;
                margin-bottom: 12px;
                .footer-nav-item{
                    float: left;
                    margin-right: 20px;
                    margin-bottom: 5px;
                    a{
                        display: inline-block;
                        vertical-align: top;
                        font-size: 12px;
                        line-height: 1;
                        cursor: pointer;
                        color: #219315
                    }
                }
            }
        }
    }
}

/*ヘッダー*/
.header-container{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #D4DACB;
    .header-global{
        width: 100%;
        background-color: #56970A;
        .global-inner{
            width: 1140px;
            height: 36px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            .personal-account{
                float: right;
                text-align: left;
                display: flex;
                a{
                    text-decoration: none;
                }
                .personal-account-data{
                    margin-right: 5px;
                    height: 36px;
                    line-height: 36px;
                    display: flex;
                    padding-left: 5px;
                    padding-right: 5px;
                    .personal-account-image{
                        padding-right: 7px;
                        line-height: 32px;
                    }
                    .personal-account-name{
                        color: white;
                        font-size: 80%;
                    }
                    
                }
                .personal-account-data:hover{
                    background-color: #556b2f;
                }
                .personal-account-menu{
                    height: 36px;
                    margin: 0 auto;
                    text-align: right;
                    line-height: 36px;
                    overflow: hidden;
                    position: relative;
                    font-size: 80%;
                    a{
                        border: 1px solid white;
                        border-radius: 2px;
                        padding: 4px;
                        color: white;
                    }
                    .peronal-account-menu-drop-items{
                        text-align: left;
                        background-color: white;
                        padding: 5px;
                        border: 1px solid #D4DACB;
                        width: 150px;
                        position: absolute;
                        left: -148%;
                        a{
                            color: black;
                        }
                    }
                }
                .personal-account-menu:hover{
                    overflow:visible;
                    color: black;
                }
            }
        }
    }
    .header-main{
        width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        height: 60px;
        .main-logo{
            float: left;
            font-size: 200%;
            font-weight: bold;
            letter-spacing: 3px;
            width: 261px;
            margin-top: 6px;
        }
        .main-search{
            float: left;
            display: block;
            margin-top: 11px;
            margin-left: 20px;
            
            form{
                height: 38px;
                .search-fill{
                    float: left;
                    input[type="text"]{

                    }
                }
                .search-btn{
                    float: left;
                    input[type="text"]{
                        
                    }
                }
            }
        }
    }
}

/* 練習登録 */
.practice-regi-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
    .practice-regi-container{
        text-align: center;
        padding: 10px;
        .practice-regi-blank{
            margin: 15px;
            span{
                color: #999;
                font-size: 80%;
            }
        }
        .practice-list{
            list-style: none;
            display: flex;
            width: 100%;
            .practice-list-song{
                width: 25%;
            }
        }
        .practice-regi-down-frame{
            text-align: left;
            margin-top: 3px;
            span {
                font-size: 75%;
                display: block;
            }
            .practice-regi-title{
                height: 33px;
                margin-bottom: 10px;
                overflow: hidden;
            }
            .practice-regi-artist{
                margin-bottom: 5px;
            }
        }  
        .practice-regi-count{
            border-top: 1px solid #efefef;
            padding-top: 7px;
            margin-top: 15px;
            span{
                color: #999;
                font-size: 80%;
            }
        }     
    }
}



/*side column*/
.side-column-wrapper{
    width: 100%;
    background-color: white;
    border: 1px solid #D4DACB;
    border-radius: 4px;
}

/*ユーザーデータ*/
.userdata-container{
    text-align: center;
    padding: 0 0 10px 0;
    a{
        text-decoration: none;
    }
    .userdata-name{
        font-size:30px;
        padding: 15px 0;
    }
    .userdata-followers{
        width: 80%;
        margin: 10px auto;
        padding: 10px 0px 10px;
        background-color: #f8f8f8;
        border: 1px solid #D4DACB;
        border-radius: 4px;
        span{
            color: #606060;
        }
    }
    .userdata-followers,
    .userdata-followers::before,
    .userdata-followers::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-followers:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
    .userdata-following{
        width: 80%;
        margin: 10px auto;
        padding: 10px 0px 10px;
        background-color: #f8f8f8;
        border: 1px solid #D4DACB;
        border-radius: 4px;
        span{
            color: #606060;
        }
    }
    .userdata-following,
    .userdata-following::before,
    .userdata-following::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .userdata-following:hover{
        background-color: #87cefa;
        span{
            color: white;
        }
    }
}

/*練習データ*/
.practice-container{
    .practice-nav{
        list-style: none;
        li{
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
        }
        .practice-nav-count{
            float: right;
        }
    }
}

/*プロフィール*/
.profile-container{
    dt{
        padding: 10px;
        border-bottom: 1px solid #f0f0f0;
        .profile-side-title{
            color: gray;
        }
        .profile-item{
            float: right;
        }
    }
}

/* 自分の投稿 */
.post-wrapper{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D4DACB;
}

.post-container{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
}

.post-side-frame{
    margin-right: 13px;
}

.post-main-frame{
    width: 100%;
    padding-right: 15px;
    font-size: 18px;
}

.post-name a{
    font-weight: bold;
}

.post-body{
    margin-top: 4px;
}

.frame-details{
    display: flex;
    margin-top: 5px;
}

.post-date{
    margin-left: 15px;
}

.post-timestamp{
    margin-left: 15px;
}

.like-container{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.like-users{
    margin-right: 15px;
}

.comment-container{
    display: flex;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    margin-bottom: 7px;
}

.comment-side-frame{
    margin-right: 13px;
}

.comment-main-frame{
    width: 100%;
    padding-right: 15px;
    font-size: 18px;
}

.comment-name a{
    font-weight: bold;
}

.comment-body{
    margin-top: 4px;
}

/* post-show */
.like-list-container{
    width: 100%;
    .like-list{
        display: flex;
        margin-bottom: 10px;
        .like-item{
            margin-right: 15px;
        }
    }
}

/*練習記録*/
.song-details{
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.song-main-frame{
    margin-left: 15px;
}

.song-title a{
    font-weight: bold;
}

.song-practice{
    margin-top: 15px;
}

.song-practice-time{
    font-weight: bold;
}

/*楽曲ページ*/
.musicdata-container{
    background-color: white;
    text-align: center;
    padding: 20px 0 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.registration-container{
    background-color: white;
}

.registration-title{
    background-color: #f8f8f8;
    text-align: center;
}

.registration-nav{
    list-style: none;
}

.registration-nav li{
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

/* js(コメントフォーム) */

.js-text-count{
    float: right;
}
.text-count{
    float: right;
    color: #999;
}

.js-submit{
    display: none;
}