<footer class="footer-container">
    <div class="footer-contents">
        <nav class="footer-nav">
            <h2 class="footer-nav-title">
                MONOCHORDについて
            </h2>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a href="#">MONOCHORDとは</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">スタートガイド</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">利用規約</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">個人情報保護方針</a>
                </li>
            </ul>
            <h2 class="footer-nav-title">
                サポート
            </h2>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a href="#">ヘルプ</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">ご意見</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>