<p>※このメールは自動送信メールです。</p>

<p><%= @resource.email %> 様</p>

<p>この度は「MONOCHORDS」にご利用いただきありがとうございます。</p>

<p>下記のリンクからパスワードの変更をお願いいたします。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

